
@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');

.container {
    max-width: 1000px;
    margin: auto;
}



#cool_hacker {
    display: block;
}

a {
    color: cyan;
    text-decoration: none;
    cursor: url(cursor.cur), auto;
}

a:hover {
    background-color: black;
}

a:active {
    background-color: red;
}

a:visited {
    color: yellowgreen;
    text-decoration: underline; 
    /* Почему тег зедсь имеет меньший приоритет чем в описании элемента без действия? Причем не срабатывает именно text-decoration...*/
}

body {
    background-color: #727272;
    color: #292727;
    font-size: 14px;
    font-weight: normal;
    
}
h4 {
    font-family: 'Yellowtail', cursive;
    color: yellow;
    font: 100;
}

.memes {
    width: 200;
    border-radius: 6%;
}

.card_inp {
    height: 25px;
    border-radius: 15px;
    box-shadow: 3px 3px 3px black;
    letter-spacing: 14px;
    font-size: 22px;
}

#CVV {
    width: 100px;
}

#date {
    width: 100px;

}

#numb {
    width: 384px;
}

.up_head h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: maroon; 
    text-decoration: none;
    text-transform: capitalize;
    letter-spacing: 0ch;
}

.image {
    
    max-width: 800px;
    border-style: outset;
    border-radius: 5%;
    padding: 10px;
    border-left: dotted 10px red;
    border-right: dotted 10px red;
}

.image_place > div {
    background-color: aqua;
    /* А вот тут проблема. Правила не применяются, почему пока не понимаю. */
    
}

#try_to_border {
    min-height: 150px;
    max-width: 1200px;
    margin-left:auto;
    margin-right:auto;
}

#try_to_border > div {

    background-color: aqua;
    float: left;
    margin: auto;
    max-width: 1200;
    max-width: 25%;
    border-style: solid;
    border-color: black;
    word-break: break-all;
    box-sizing: border-box;
}

@media (max-width: 1200px) {
     #try_to_border > div {
        float: none;
     }
}

#tbl td:nth-child(1),
#tbl td:nth-child(2) {
    color:indigo;
}

.ulist {
    list-style: inside;
}

.up_head h1 {
    text-align: center;
}

.reverse_messege {
    display: flex;
}

.reverse_messege label{
    display:block;
    color: rgba(0, 0, 0, 0.432);
    min-width: 125px;
    max-width: 40%;
}

.reverse_messege ::placeholder {
    color: #b0b0bb;
    opacity: 1;
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
}

.reverse_messege input,
.reverse_messege textarea {
    width: 35%;
    box-sizing: border-box; 
    background-color: transparent;
     ;
    border: none;
    color: green;
    border-bottom: solid #a0a0a0 2px;
    padding: 15px 0 10px;
    outline: none;
}

.btn {
    background-color: pink;
    color:#292727;
    cursor: url(cursor.cur), auto;
}

.btn:hover {
    background-color: red;
}

.square {
    position: fixed;
    background-color: blue;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    bottom: 20px;
    right: 20px;
}

.square p {
    position:fixed;
    bottom: 50%;
    left: 50%
    
}

#home_ico {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 30px;
    height: 30px;
}

.square p:hover {
    background-color: none;
}


